@font-face {
	font-family: Lovelo;
	src: url('Lovelo-Black.woff');
}

body {
	min-width: fit-content;
	margin: auto;
}

#navbar {
	display: flex;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	font-family: 'Lovelo', Helvetica;
	font-size: 1.5vh;
	line-height: 100%;
	background-color: #FFF5CC;
	height: 10%;
	z-index: 1;
	align-items: center;
}

#home-logo {
	height: 100%;
	display: inline-block;
	padding-left: 3%;
}

#home-logo a {
	height: 100%;
}

#logo {
	height: 100%;
}

#hamburger {
	float: right;
	display: inline-block;
	padding-right: 3%;
}

/*#whole-menu {
	margin-left: auto;
	margin-right: 10px;
	position: relative;
  	display: inline-block;
}

#burger-box {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#surround-menu {
	display: flex;
	position: absolute;
	height: 150%;
	background-color: #ffde4c;
	flex-direction: column;
	justify-content: center;
	float: right;
}

#menu-options {
	display: flex;
	flex-direction: column;
	text-align: right;
	justify-content: space-between;
	height: 40vh;
	width: 35vw;
}

#menu-options a {
	text-decoration: none;
	color: #3232ff;
	padding: 10px;
}

.dropdown-item {
	height: 20%;
}*/

#web-body {
	font-family: 'Zilla Slab', sans-serif;
	width: 100%;
}

#bio {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	padding-top: 20vh;
	align-items: center;
	padding-bottom: 10vh;
}

#portrait {
	padding-left: 5vw;
}

#headshot {
	--40: 30vh;
	border-radius: var(--40);
	height: var(--40);
	width: var(--40);
	box-shadow: -10vw -2vh #FFD100;
}

#bio-text {
	font-size: 6vw;
	color: #0000FF;
	text-align: center;
	font-weight: 600;
	text-shadow: 3px -1px #fff;
	line-height: 100%;
}

#more-info {
	width: 60vw;
	height: 20vh;
	background-color: #e5e5ff;
	font-size: 4vw;
	text-align: center;
	color: #0000FF;
	padding: 10vh 20vw 10vh 20vw;
	display: flex;
	align-items: center;
}

#title {
	font-weight: 800;
	font-size: 5vw;
	line-height: 70%;
}

#about {
	position: fixed;
	top: 10%;
	color: #0000FF;
	font-size: 3vw;
	padding: 40px;
}

#links {
	text-align: center;
	font-size: 3.5vw;
}

ul {
	margin-block-start: 0px;
	height: 100%;
	width: 100%;
	padding-inline-start: 0px;
	margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
	height: 100%;
	display: block;
	transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
/*  display: none;
*/  background-color: purple;
  height: 20vh;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: flex;
  margin-right: auto;
  flex-direction: column;
  font-size: 3vh;
  justify-content: space-between;
}

ul li ul li {
	display: flex;
}

@media only screen and (min-width: 768px) {
	#surround-menu {
		display: flex;
		height: 100%;
		justify-content: center;
		background-color: transparent;
		font-size: 3vh;
	}

	#menu-options {
		height: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}

	#burger-box {
		display: none;
	}

	#more-info {
		font-size: 3.5vw;
	}

	#bio {
		flex-direction: row;
	}

	#headshot {
		border-radius: 30vw;
		height: 30vw;
		width: 30vw;
		box-shadow: -4vw -1vh #FFD100;
	}

	#bio-text {
		margin-left: 2vw;
		text-align: left;
		font-size: 5vw;
	}

	#title {
		font-size: 2.5vw;
	}

	#about {
		color: #0000FF;
		font-size: 1.5vw;
	}

	#links {
		font-size: 1.75vw;
	}

}
