:root {
  --blue: #0014FF;
  --background: #f9f7ec;
}

body {
  background-color: var(--background);
  font-family: 'Fira Code', monospace;
}


h1, h2 {
  font-family: 'Fira Code', monospace;
  margin: 0;
  color: var(--blue);
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

div {
  border: 1px solid var(--blue);
  border-radius: 10px;
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 0.8em;
  width: 45em;

  > span {
    margin-left: 20px;
    display: block;
    font-size: 13pt;
    margin-bottom: 0.4em;
  }
}

ul {
  margin: 0;
  margin-left: 20px;
  list-style: '-> ';
}

form {
	padding-left: 25px;
  padding-right: 25px;
	text-align: left;
}

form label {
  color: var(--blue);
  font-weight: 600;
}

form input {
  width: 100%;
  border-radius: 10px;
  border: solid var(--blue) 1px;
  font-family: 'Fira Code', monospace;
  background-color: var(--background);
  padding: 5px;
}

form textarea {
  width: 100%;
  border-radius: 10px;
  border: solid var(--blue) 1px;
  font-family: 'Fira Code', monospace;
  background-color: var(--background);
  padding: 5px;
}

button {
  border-radius: 10px;
  border: none;
  background-color: var(--blue);
  color: var(--background);
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  padding: 0.5em 1.5em;
  margin-top: 0.25em;
}